.container {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(12, 1fr);
}

#Breadcrumb {
  grid-row: 2;
  grid-row-start: 3;
  grid-row-end: 13;
  grid-column-start: 2;
  grid-column-end: 13;
}

.content {
  grid-row-start: 3;
  grid-row-end: 13;
  grid-column-start: 2;
  grid-column-end: 13;
}
