@use "../../theme/palette/palette" as Palette;

.header {
  background-color: #{Palette.$palette-title};
  grid-column-start: 1;
  grid-column-end: 13;
  justify-content: center;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
}

.containerHeader {
  display: grid;
  justify-content: center;
  grid-column-start: 2;
  grid-column-end: 12;
  grid-template-columns: repeat(12, 1fr);
}

.Logo {
  background-image: url(../../../public/Logo_ML.png);
  height: 36px;
  width: 53px;
  background-repeat: no-repeat;
  grid-row: 1;
  margin: 10px 0px 10px 50px;
}

.btn-search {
  background-image: url(../../../public/ic_Search.png);
  border: 0ch;
  border-radius: 0px 3px 3px 0px;
  padding: 17.5px;
  background-color: #{Palette.$palette-letterFour};
  background-repeat: no-repeat;

  background-position: 50%;
}
.search {
  font-size: 18px;
  border: 0ch;
  border-radius: 3px 0px 0px 3px;
  padding: 7px;
  margin: 10px;
  width: 95%;
  margin: 10px 0px 10px 10px;
}
.search-container {
  align-items: center;
  grid-row: 1;
  grid-column-start: 2;
  grid-column-end: 13;
}
