@use "../../theme/palette/palette" as Palette;

.Header {
  background-color: #{Palette.$palette-title};
  display: flex;
  justify-content: center;
}

.Logo {
  background-image: url(../../../public/Logo_ML.png);
  height: 36px;
  width: 53px;
  background-repeat: no-repeat;
  margin: 10px;
  display: flex;
}
